<div>
    <h4 class="panel-title">{{recentlyPlayedTitle}}</h4>
    <div class="selectors">
        <i onclick="scrollPanelLeft('#recently-played')" class="fa fa-chevron-left fa-lg" aria-hidden="true"></i>
        <i onclick="scrollPanelRight('#recently-played')" class="fa fa-chevron-right fa-lg" aria-hidden="true"></i>
    </div>
</div>
<section class="container row panel-container" id="recently-played">
    {{#each recentlyPlayedItems}}
    <section id="col-sm media-content">
        <a href="/album/{{this.track.album.id}}">
            <img class="media-object album-cover" width="150" height="150" src="{{this.track.album.images.1.url}}" />
        </a>
        <div class="album-data">
            {{this.track.name}}
        </div>
        <div class="album-data">
            {{this.track.artists.0.name}}
        </div>
    </section>
    {{/each}}
</section>